[user]
  name = Nikos Vasilakis
  email = nikos@vasilak.is
[core]
  editor = vim -c 'vnew temp' -c 'vertical resize 40' -c '.r!cd ../ && git log --pretty=format:"\\%s" | head' -c ':wincmd w'
  excludesfile = $HOME/.vim/.gitignore
  fileMode = false
#  compression = 9
#  loosecompression = 9
[color]
  diff = always
  status = always
  branch = always
  interactive = always
#[color "branch"]
#  current = yellow reverse
#  local = yellow
#  remote = green
#[color "diff"]
#  meta = yellow bold
#  frag = magenta bold
#  old = red bold
#  new = green bold
#[color "status"]
#  added = yellow
#  changed = green
#  untracked = cyan
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  lg = log --graph --pretty=format:'%C(yellow)%h\t[%ad]%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(blue)%an%C(reset)' --abbrev-commit --date=short
  d = difftool
  p = pull --rebase
  ctags = !.git/hooks/ctags
[init]
  templatedir = ~/.dotrc/.git_template
