# #test "..." ==> ?;
snippet t
	test ${1:predicate} ==> ${2:?};
	${3}

# #blocks
snippet { 
	${1:name} = { 
		${2://contents};
	};
	${3}

# #records
snippet | 
	${1:name} = {|
		${2://contents};
	|};
	${3}

# #rec fun
snippet rec 
	rec fun ${1:name} = { 
		${2://contents};
	};
	${3}

